@font-face {
    font-family: 'PT Sans';
    src: url('../assets/PTS55F-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../assets/PTS75F-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

